/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 6, 2025, 9:07:55 AM
    Author     : 6298674
*/

.label-warning {
    -fx-text-fill: red;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.label-style1 {
    -fx-text-fill: black;
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
}
